.main{
    font-family: "Karla", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-light);
}

.main .section{
    display: grid;
    grid: "join-community join-community" 220px  
                         "monthly why" auto / auto;
    border-radius: 4px;
    box-shadow: 1px 1px 4px var(--neutral-grayish), -1px 1px 4px var(--neutral-grayish);
}

.main .section .secao-join-community{
    grid-area: join-community;
    background-color: #fff;
    width: 635px;
    border-radius: 4px 4px 0px 0px;
}

.main .section .secao-join-community .join-community{
    font-weight: 700;
    color: var(--primary-back1);
    margin: 40px 38px 0px;
}

.main .section .secao-join-community .days{
    font-weight: 700;
    letter-spacing: -0.6px;
    color: var(--primary-bright);
    margin: 23px 38px 12px;
}

.main .section .secao-join-community .text{
    font-weight: 400;
    margin-left: 40px;
    line-height: 25px;
    color: var(--neutral-grayish);
}

.main .section .secao-subscrition, .secao-why{
    width: 318px;
    color: #fff;
}

.main .section .secao-subscrition{
    grid-area: monthly;  
    background-color: var(--primary-back);
    text-indent: 40px;
}

.main .section .secao-subscrition .monthly{
    font-weight: 400;
    margin: 38px 0px 20px;
}

.main .section .secao-subscrition .value-monthly{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main .section .secao-subscrition .value-monthly span{
    font-size: 14px;
    color: var(--neutral-light);
} 

.main .section .secao-subscrition .day{
    margin-bottom: 30px;
} 

.main .section .secao-subscrition .btn{
    font-weight: 700;
    width: 240px;
    height: 40px;
    color: #fff;
    background-color: var(--primary-bright);
    border-style: none;
    border-radius: 4px;
    box-shadow: 0.1px 0.1px 4px hsl(179, 61%, 24%);
    margin: 0 40px 40px;
}

.main .section .secao-subscrition .btn:hover{
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: #000;
    background-color: hsl(72, 64%, 74%);
}

.main .section .secao-why{
    grid-area: why;
    background-color: var(--primary-back1);
}

.main .section .secao-why .title-us{
    font-weight: 400;
    text-indent: 40px;
    color: #fff;
    margin: 38px 0px 20px;
}

.main .section .secao-why .text-why{
    text-align: left;
    line-height: 22px;
    width: 220px;
    margin: 0 40px;
}